:root{
  --prime-color: rgb(134, 29, 254);
  --w-text: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
}
a{
  color: black;
  text-decoration: none;
}
.main-body{
  padding-top: 72px;
  margin: 0 auto;
  height: 100vh;
}