.blog-page-wrapper{
    display: flex;
    max-width: 1500px;
    width: 95%;
    margin: 40px auto;
    padding-bottom: 200px;
}
.bpw-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
}
.bar-card{
    display: flex;   
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.116);
    padding: 20px;
}
.bc-img-ctrl{
    width: 300px;
    height: 150px;
    margin: auto 0;
    overflow: hidden;
}
.bc-img-ctrl>img{
    width: 100%;
}
.bc-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 320px);
}
.blog-pages{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.blog-page{
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.137);
    cursor: pointer;
    user-select: none;
}
.bpw-header{
    display: flex;
    justify-content: space-between;
}
.bpw-header>input{
    width: 25%;
    border: 1px solid rgba(0, 0, 0, 0.226);
    margin: auto 0;
    border-radius: 10px;
    display: flex;
    font-size: 18px;
    padding: 10px 10px;
}
.loader-blog{
    display: flex;
    width: 100%;
    height: calc(100% - 72px);
    background-color: rgba(0, 0, 0, 0.41);
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}