.full-dashboard{
    width: 100%;
    height: 100%;
    display: flex;
}
.fd-left{
    width: 300px;
    height: 100%;
    background-color: rgb(34, 34, 34);
}
.fd-right{
    width: calc(100% - 300px);
}
.sn-list{
    list-style-type: none;
}
.sn-list>hr{
    margin: 0 auto;
}
.snItems{
    padding: 20px 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.283);
}
.snItems:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.sn-list>a{
    color: white;
}
.s-o{
    position: absolute;
    right: 10px;
    padding: 10px 20px;
    background-color: red;
    font-weight: 600;
    color: white;
    top: 10px;
    display: none;
}
@media screen and (max-width: 900px) {
    .fd-left{
        position: fixed;
        left: -100%;
        z-index: 998;
    }
    .fd-right{
        width: 100%;
        padding-top: 50px;
        position: relative;
    }
    .s-o{
        display: block;
        user-select: none;
        z-index: 999;
    }
}