.top-bar-head{
    display: flex;
    gap: 20px;
}
.cat-name{
    margin: auto 0;
}
.cat-name>h3{
    font-size: 22px;
    text-transform: uppercase;
}
.s-line{
    display: flex;
    flex-grow: 100;
    height: 3px;
    background-color: var(--prime-color);
    margin: auto 0;
}
.slide-left>i, .slide-right>i{
    font-size: 24px;
}
.all-cards{
    display: flex;
    gap: 10px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
}
.all-cards::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width: 900px) {
    .all-cards{
        gap: 20px;
    }
}